#
# srg's ~/.ssh/config
# Host-specific options should be first, with default options below.
#
# To generate client keys (ed25519 preferred):
# `ssh-keygen -t ed25519 -a 200`
# `ssh-keygen -t rsa -b 4096 -o -a 200`
#
# To generate server moduli:
# `ssh-keygen -G ~/moduli.all -b 4096`
# `ssh-keygen -T ~/moduli.safe -f ~/moduli.all`
# `mv ~/moduli.safe /etc/ssh/moduli && rm ~/moduli.all`

Host athena
	Hostname athena.guglielmo.us
	Port 60398
	User srg

Host github.com
	#MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com
	VisualHostKey no

##########
# Acquia #
##########

# Don't show the ascii host key for git commands
Host svn-?*.prod.hosting.acquia.com
	VisualHostKey no

# Subscription 1
Host temple1dev
	Hostname staging-18548.prod.hosting.acquia.com
	User temple.dev
Host temple1stage
	Hostname staging-18548.prod.hosting.acquia.com
	User temple.test
Host temple1prod
	Hostname ded-14679.prod.hosting.acquia.com
	User temple.prod

# Subscription 2
Host temple2dev
	Hostname staging-18548.prod.hosting.acquia.com
	User temple2.dev
Host temple2stage
	Hostname staging-18548.prod.hosting.acquia.com
	User temple2.test
Host temple2prod
	Hostname web-14807.prod.hosting.acquia.com
	User temple2.prod

# Subscription 3
Host temple3dev
	Hostname staging-18548.prod.hosting.acquia.com
	User temple3.dev
Host temple3stage
	Hostname staging-18548.prod.hosting.acquia.com
	User temple3.test
Host temple3prod
	Hostname web-14807.prod.hosting.acquia.com
	User temple3.prod

# Subscription 4
Host temple4dev
	Hostname staging-18548.prod.hosting.acquia.com
	User temple4.dev
Host temple4stage
	Hostname staging-18548.prod.hosting.acquia.com
	User temple4.test
Host temple4prod
	Hostname ded-14679.prod.hosting.acquia.com
	User temple4.prod

# The defaults should be last in this file
Host *
	Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
	Compression yes
	ConnectTimeout 3
	EscapeChar none
	ExitOnForwardFailure yes
	HashKnownHosts no
	HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa
	IdentitiesOnly yes
	IdentityFile ~/.ssh/id_ed25519
	IdentityFile ~/.ssh/id_rsa
	KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
	#MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com	 THIS BREAKS GITHUB
	PreferredAuthentications publickey,keyboard-interactive,password
	PubkeyAcceptedKeyTypes ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa
	RekeyLimit 256M 30m
	# Most servers won't accept anything other than LANG, but try to send the others anyway
	SendEnv EDITOR GREP_OPTIONS LANG LESS LESSHISTFILE LESSSECURE PAGER VISUAL
	ServerAliveCountMax 3
	ServerAliveInterval 5
	UpdateHostKeys ask
	UseRoaming no
	User tuf83079
	VerifyHostKeyDNS yes
	VisualHostKey yes

