#
# srg's ~/.ssh/config
# Host-specific options should be first, with default options below.
#
# To generate client keys:
# `ssh-keygen -t ed25519 -a 200`
# `ssh-keygen -t rsa -b 4096 -o -a 200`
#
# To generate server moduli:
# `ssh-keygen -G ~/moduli.all -b 4096`
# `ssh-keygen -T ~/moduli.safe -f ~/moduli.all`
# `mv ~/moduli.safe /etc/ssh/moduli`

Host github.com
	#MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com
	VisualHostKey no

# The defaults should be last in this file
Host *
	Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
	Compression yes
	ConnectTimeout 3
	EscapeChar none
	ExitOnForwardFailure yes
	#HashKnownHosts yes		# Default to 'no'; enabling this breaks the zsh hostname completion
	HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa
	IdentitiesOnly yes
	IdentityFile ~/.ssh/id_ed25519
	IdentityFile ~/.ssh/id_rsa
	KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
	#MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com	 THIS BREAKS GITHUB
	PreferredAuthentications publickey,keyboard-interactive,password
	PubkeyAcceptedKeyTypes ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa
	RekeyLimit 256M 60m
	# Most servers won't accept anything other than LANG, but try to send the others anyway
	SendEnv EDITOR GREP_OPTIONS LANG LESS LESSHISTFILE LESSSECURE PAGER VISUAL
	ServerAliveCountMax 2
	ServerAliveInterval 7
	UpdateHostKeys ask
	UseRoaming no
	#User
	VerifyHostKeyDNS yes
	VisualHostKey yes

